@import "../../Assets/sass/mixin.scss";

.hero {
  display: flex;
  justify-content: space-between;

  &__content {
    width: 450px;
  }
  &__head {
    font-family: Ruda;
    font-size: 64px;
    font-weight: 600;
    line-height: 82px;
    color: white;
  }
  &__span {
    color: #7939a3;
  }
  &__txt {
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: white;
  }
  &__video,
  &__explore {
    color: white;
    font-family: Open Sans;
    font-size: 16px;
    font-weight: 600;
    line-height: 21.79px;
    text-align: left;
  }
  &__explore {
    padding: 16px;
    border: 0px;
    border-radius: 4px;
    background: linear-gradient(to right, #411162, #180a49);
  }
  &__video--img {
    width: 55px;
    height: 55px;
    transform: translateY(20px);
  }
  &__video {
    margin-left: 50px;
  }
  &__btns {
    margin-top: 30px;
    @include center();
  }
  &__tab {
    margin-top: 70px;
  }

  &__images {
    margin-left: auto;
  }
  &__cat {
    margin-bottom: 80px;
  }
  &__space {
    transform: translateX(160px);
    margin-bottom: 170px;
  }
  &__skelet {
    transform: translateY(100px);
    margin-left: 220px;
  }
  &__face {
    margin-bottom: 200px;
  }
  &__face--red {
    margin-bottom: 330px;
    transform: translateX(19px);
  }
}
